
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
}

h1, h2, h3, h4, h5, h6, p{
    margin:0px;
}

section{
    margin:0px;
}
/*Header*/

.logo {
    font-weight: 500;
    font-size: 50px;
    font-family: 'Jersey 10', sans-serif;
    text-decoration: none;
    margin: 0;
    
}

.nav-links li {
    position: relative;
}

.header a{
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}

.header ul{
    list-style-type: none;
    display: flex;
    gap: 25px;
    font-size: 18px;
    margin:0px;
}

.nav-links a{
    color: rgb(39, 38, 38);
    margin: 0px;
    font-family: 'Kanit', sans-serif;
    
}

.header a:hover, .nav-links a.active {
    color: rgb(236, 136, 5);
}

.nav-links a.active::after, .nav-links li a:hover::after{
    content: "";
    width: 100%;
    height: 2px;
    background:rgb(236, 136, 5);
    position: absolute;
    bottom: -4px;
    left: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0,06);
    position: sticky;
    top: 0;
    left: 0;
    margin: 0;
}


.fa-bag-shopping{
    width: 25px;
    margin: 0px;
    
}

/* Hero */

.hero {
    margin: 0px;
    padding: 0px;
    
    background-image: url("img/hero2.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0%;
}

.hero .landing{
    padding: 20px 80px;
    gap: 0;
    display: flex;
    flex-direction: column ;
    align-items: start;
    justify-content: start;
    font-family: sans-serif;
}

.hero h4 {
    font-size: 25px;
    margin: 10px;
}

.hero h2{
    font-size: 50px;
    margin:0;
}

.hero h1{
    font-size: 100px;
    margin: 0;
    margin-top: -15px;
}

.hero h1, .hero h2, .hero h4{
    color:white;
    
}

.hero p{
    font-size: 20px;
    margin: 15px;
    margin-top: 17px;
    margin-left: 0px;
    
}

.hero button {
    width: 90px;
    height: 40px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background-color: white;
    color:rgb(63, 62, 62);
    transition: 0.25s ease;
}



.hero .buttons{
    padding-left: 2px;
    display: flex;
    gap: 25px;
    margin-top: 4px;
    
}

.hero button:hover{
    background-color: rgb(63, 62, 62);
    color: white;
}

/* Categories */

.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0px;
}

.categories h2{
    font-size: 50px;
    margin: 10px;
}

.categories h2 span{
    background-color: rgb(233, 160, 65);
    border-radius: 5px;
    padding: 5px 15px 5px 8px;
    line-height: 1;
    font-style: italic;
}

.categories .boxes {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
}

.categories .cat-box{
    width: 180px;
    height: 322px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 35px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    transition: 0.2s ease;
}

.categories .cat-box:hover {
    box-shadow: 10px 10px 55px rgba(71, 60, 220, 0.219);
}

.cat-box img {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #cce7d0;
}

.cat-box h6 {
    font-size: 22px;
    font-weight: 300;
    margin: 0px;
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    background-color: rgb(233, 160, 65);
    border-radius: 5px;
    color:black;
}

/* Hot Products */

.hot-products{
    text-align: center;
}

.hot-products .product{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0px;
    transition: 0.2s ease;
}

.hot-products .product:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.07);
}

.hot-products .product img{
    width: 100%;
    border-radius: 18px;
}

.hot-products .product .desc{
    text-align: start;
    padding: 10px 0;
}

.hot-products .product .desc span{
    color: #606063;
    font-size: 12px;
}

.hot-products .product .desc h5{
    margin: 0px;
    padding-top: 7px;
    color: #242323;
    font-size: 14px;
}